# string
- creating
- indexing and slicing
- methods
    - formatting
    -validation
    -searching
    -utilities
-operations

In [1]:
a = 'apple'
b = "banana"

c = '''this is
 an example of 
 multiple string'''

d = """another example
 of a multiple string"""

print(type(a), type(b), type(c),type(d))
print(a)
print(b)
print(c)
print(d)

<class 'str'> <class 'str'> <class 'str'> <class 'str'>
apple
banana
this is
 an example of
 multiple string
another example
 of a multiple string

In [2]:
msg = 'the hippo was 5\' tall'
print(msg)
msg = "the hippo was 5' tall"
print(msg)

the hippo was 5' tall
the hippo was 5' tall

In [6]:
name = 'alexander'#iterable
print(len(name))
print(name[0]) # undex 0 of name variable
print(name[1])
print(name[3])
print(name[5])
print(name[-1])
print(name[-4])

9
a
l
x
n
r
n

In [9]:
print(name[0],name[1],name[2],name[3], sep = '')

alex

slicing
syntax
```
str[start : stop+1]

str[start : stop+1 : step]

str[: stop+1] #

In [11]:
name[0:5] #get the values at 0,1,2,3,4(5 is not included)

'alexa'

In [13]:
n2 = 'Leonardo da Vinci'
print(n2[:8])
print(n2[:8])
print(n2[:8])
print(n2[:8])
print(n2[:8])

Leonardo da Vinci

In [16]:
n3 = 'Vijay Deenanath Chauhan'
print(n3[0:6])
print(n3[6:15])
print(n3[-7:])

Vijay
Deenanath
Chauhan

slicing with steps

In [17]:
n3[::2] # every other character

'VjyDeaahCahn'

In [18]:
n3[1::2] # odd index character

'ia ennt hua'

In [19]:
n2[1:10:3] # 1,4,7(stop at 10)

'eao'

In [20]:
n2[::-1 ] #reverse the string

'icniV ad odranoeL'

In [21]:
quote = '''this is a quote from brandon sanderson,
"the purpose of a storyteller is not to tell how to think,
but to give you questions to think upon."'''
print(quote)

print('first 50 letters')
print(quote[:50])

print('first 50 letters')
print(quote[-50:])

print('first 50 letters')
print(quote[:500])

this is a quote from brandon sanderson,
"the purpose of a storyteller is not to tell how to think,
but to give you questions to think upon."
first 50 letters
this is a quote from brandon sanderson,
"the purpo
first 50 letters
o think,
but to give you questions to think upon."
first 50 letters
this is a quote from brandon sanderson,
"the purpose of a storyteller is not to tell how to think,
but to give you questions to think upon."

In [22]:
print(ord('A'), ord('a'))
print(chr(65), chr(97), chr(128524)) #unicode/acii

65 97
A a ðŸ˜Œ

In [23]:
# fibonacci sequence 1,2,3,5,8,13,21,34,...
a,b = 1,2
print(a,b, end= ' ')
for i in range(10):
    c = a+b
    print(c, end= ' ')
    #swap values
    a = b # a=3
    b = c #b=5

1 2 3 5 8 13 21 34 55 89 144 233