In [3]:
'Khushbooprajapati'

'Khushbooprajapati'

In [5]:
675778*86643

58551433254

In [11]:
name="khushboo"

In [1]:
age=20
is_prime=False
pi = 3.14
data = None

In [4]:
name ='Alexander'
movies = ['Avengers', 'Harry Potter','Inception']
car = {
    'brand': 'Tata',
    'model':'Nexon',
    'year': 2023,
    'is_electric': False,
}

In [5]:
10+20

30

In [6]:
10-3

7

In [7]:
10*20

200

In [8]:
10/3

3.3333333333333335

In [9]:
10%3

1

In [10]:
10//3

3

In [11]:
10**20

100000000000000000000

In [12]:
x=5

In [13]:
x+=5

In [14]:
x-=5

In [15]:
x*=5

In [16]:
x/=5

In [17]:
x//=5

In [18]:
x**=5

In [20]:
word = 'Apple'
len(word)

5

In [21]:

'ðŸ˜Š'!='ðŸ˜‚'

True

In [22]:
name = 'Ajay'
name2= 'Vijay'

In [23]:
len(name) < len(name2) and name== 'Ajay'

True

In [25]:
10>5 and 5>3

True

In [26]:
10>5 or 5>15

True

In [27]:
12*4<20 and 5*3 > 10 or 10*2<20

False

In [29]:
movies

['Avengers', 'Harry Potter', 'Inception']

In [30]:
'pk' in movies

False

In [31]:
'Avengers' in movies

True

In [32]:
x = [1,2,3,4,5,6,]
5 in x

True

In [33]:
10 in x

False

In [34]:
x = [1,2,3]
y = x
z = [1,2,3]
print(x,y,z)

[1, 2, 3] [1, 2, 3] [1, 2, 3]

In [35]:
print(x is y)
print(x is z)
print(z is y)

True
False
False

In [36]:
print(x in y)

False