In [ ]:
name = input('Enter your name')

In [1]:
college = input('Enter your college name') 
city = input( 'enter your city')

In [12]:
print('this is an apple')

this is an apple

In [1]:
qty = 10
price = 90*qty

print('this is an apple', 'it costs',price,'rupees')

this is an apple it costs 900 rupees

In [11]:
print('this is an apple',qty,'kg costs',price,'rupees')

this is an apple 10 kg costs 900 rupees

In [17]:
f"this is an apple. {qty} kg costs {price} rupees"

'this is an apple. 10 kg costs 900 rupees'

In [25]:
x=10
y=3
z=x/y
print(f'the answer is {z:.3f}')
print(f'{x}/{y}={z:.3f}')
print('this was good')

the answer is 3.333
10/3=3.333
this was good

In [4]:
n1,n2,n3 = 'Raj','Rajan','Rajeshwari'
print(n1,len(n1), 'chars')
print(n2,len(n2), 'chars')
print(n3,len(n3), 'chars')

Raj 3 chars
Rajan 5 chars
Rajeshwari 10 chars

In [11]:
print(f'{n1:10} {len(n1)} chars')
print(f'{n2:10} {len(n2)} chars')
print(f'{n3:10} {len(n3)} chars')

Raj        3 chars
Rajan      5 chars
Rajeshwari 10 chars

In [14]:
print(f'{n1:>9} {len(n1)} chars')
print(f'{n2:>9} {len(n2)} chars')
print(f'{n3:>9} {len(n3)} chars')

      Raj 3 chars
    Rajan 5 chars
Rajeshwari 10 chars

In [ ]:
#Typecasting

In [29]:
x = 10
float(x)

10.0

In [17]:
x = 10.5
int(x)

10

In [21]:
data = '1000101'
print(int(data))
data = '1001'
print(int(data,2))

1000101
9

In [36]:
data = 1290310
str(data)

'1290310'

In [23]:
a = input('Enter A:')
b = input('Enter B:')
a+b

'455'

In [39]:
'1000'+ '2000'

'10002000'

In [ ]:
# wap to find out the simple interest, by taking user input for principal,rate and time

In [43]:
principal = int(input('enter principal'))
rate = float(input('enter rate'))
time = int(input('enter time'))
si = principal *rate * time /100
print(f'Principal ={principal}')
print(f'Rate = {rate}%')
print(f'Years = {time}')
print(f'Simple Interest = {si:.2f}')

Principal =100
Rate = 4.0%
Years = 5
Simple Interest = 20.00

In [ ]:
#Wap to calculate the area of the circle.

In [22]:
PI = 3.14
radius = float(input('Enter the radius = '))
area = PI* radius * radius  
print(f'area of circle is {area:.4f}' )

area of circle is 23766.6600

In [1]:
a = input("your name>>>")
type(a)

str

In [2]:
b = input('age of tiger')
type(b)

str

In [3]:
x = 5
x =str(5)
type(x)

str

In [4]:
pi = 3.145
p = int(pi)
type(p)

int

In [5]:
num = 0 
val = bool(num)
type(val)

bool

In [6]:
married = 'yes'
m = bool(married)
type(m)

bool

In [9]:
print(1,2,3,4,)
print(1,2,3,sep = '*')
print(1,2,3,4,sep='#',end = '&')

1 2 3 4
1*2*3
1#2#3#4&

In [12]:
qty = 10
fruit = 'apple'
print('I will purchase',{10},fruit,'today')

I will purchase {10} apple today

In [16]:
name = "digipodium"
type_of_company = "Educational"
(f"{name} is an {type_of_company} company.")

'digipodium is an Educational company.'

In [1]:
print('you see a apple seller')
q = input('do you like apples ?')
if q == 'yes':
    print('you purchase 2 kg of apples')
if q == 'no':
    print('you dont purchase apple')

you see a apple seller
you purchase 2 kg of apples

In [4]:
x = 10

if x >5:
    print('x is greater than 5')
    print('this is the info we needed')
    print('with this power , comes great responsibility')
print('the end')

x is greater than 5
this is the info we needed
with this power , comes great responsibility
the end

In [6]:
x = 10 
y = 5
if x>y:
    print('x is greater than y')
    print('y is greater than x')
if y<6:
    print('y is smaller thn 6 also')
    print('why y is smaller?')
if y== 3:
    print('y is 3')
    print('Its time to make y grater')
    y = x+y

x is greater than y
y is greater than x
y is smaller thn 6 also
why y is smaller?

In [8]:
temp = float(input('what  is the temperature?'))
if temp>70:
    print('wear shorts .')
else:
    print('wear long pants')
print('Get some exercise outside')

wear long pants
Get some exercise outside

In [11]:
score = int(input('What is score?'))
if score >=90:
    grade = 'A'
elif score >=80:
    grade = 'B'
elif score>=70:
    grade= 'C'
elif score>= 60:
    grade = 'D'
else:
    grade = 'F'
print(grade)

A

In [13]:
if 42 in range(100):print('42')

42

In [22]:
x = "Alice" if ' Jon' in 'My name is Jonas 'else"Bob" 
print(x)

Alice

In [23]:
print("42") if 42 in [22,44,42] else print("21")

42

In [1]:
x = "PYTHON"
for i in x:
    print(i)

P
Y
T
H
O
N

In [4]:
fruits = ['apple','banana','lemon']
for item in fruits:
    print(f'i have {item}')

i have apple
i have banana
i have lemon

In [5]:
for i in range(6):
    print(' you got point', i)

 you got point 0
 you got point 1
 you got point 2
 you got point 3
 you got point 4
 you got point 5

In [6]:
for num in range(1,10,3):
    print('level',num)

level 1
level 4
level 7

In [8]:
for num in range(2,11):
    print('sheep',num)

sheep 2
sheep 3
sheep 4
sheep 5
sheep 6
sheep 7
sheep 8
sheep 9
sheep 10

In [10]:
for num in range(10,5,-1):
    print(num)

10
9
8
7
6

In [1]:
for i in range(10):
    print(i * 'Na')

Na
NaNa
NaNaNa
NaNaNaNa
NaNaNaNaNa
NaNaNaNaNaNa
NaNaNaNaNaNaNa
NaNaNaNaNaNaNaNa
NaNaNaNaNaNaNaNaNa

In [2]:
n = 10

sum = 0
i = 1
while i<=10:
    sum = sum + i
    i = i + 1
print('The sum is ',sum)

The sum is  55