In [2]:
colors = ['red', 'green', 'yellow', 'pink']
print(colors)

['red', 'green', 'yellow', 'pink']

In [3]:
for item in colors:
    print(item)

red
green
yellow
pink

In [6]:
n = [2,3,4,5,6,7,8,9,10]
for i in n:
    print(i+10)

12
13
14
15
16
17
18
19
20

In [9]:
for i in n:
    print(i+10, end=' ')

12 13 14 15 16 17 18 19 20

In [15]:
n = ["hello"]
for i in n:
    print(i*10,end = " " )

hellohellohellohellohellohellohellohellohellohello

In [18]:
for i in range(10):
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [22]:
for i in range(16,23):
  print(i)

16
17
18
19
20
21
22

In [24]:
for i in range(5,101,10):
    print(i)
    print()

5

15

25

35

45

55

65

75

85

95

In [25]:
for i in range(100,0,-5):
    print(i)

100
95
90
85
80
75
70
65
60
55
50
45
40
35
30
25
20
15
10
5

In [30]:
for i in range(2,22,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [38]:
for i in range(1,100,2):

    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [35]:

for i in range(1,11):
    print(f'2 * {1} = {2 *i}')

2 * 1 = 2
2 * 1 = 4
2 * 1 = 6
2 * 1 = 8
2 * 1 = 10
2 * 1 = 12
2 * 1 = 14
2 * 1 = 16
2 * 1 = 18
2 * 1 = 20