# data structures in python

- list 
   - indexed, ordered, **mutable**, allows duplicate members,`[]`
- tuple
   - indexed, ordered, **immutable**, allows duplicate members,`()`
- set
   - unindexed, **unordered**, mutable, **unique values only**,`{}`
- dict
   - **ordered**, mutable, **unique keys only**,**allows duplicate values,`{key:value}`

# list
- creating
- indexing and slicing
- methods 
- travels

In [1]:
x = [] #empty list
a = [1,2,3,4,5] #list of integers
names = ['Alex', 'Arti', 'Anupam'] # list of strings
mixed = [1,'Alex',2,'Arti'] #list of mixed data types
nested =[1,[2,3],4] #nested list

In [5]:
# creating a duplicated list
a = [1,2,3]
b = [a,a,a]
print(b)
# another way to create a duplicated list without nesting
c = a*5
print(c)
# another one
d =[1] * 10
print(d)

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [20]:
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers[0]) #first element
print(numbers[-1]) #last element
print(numbers[:5]) #first five elements
print(numbers[-5:]) # last five elements
print(numbers[1::2]) # odd indexed elements
print(numbers[::2]) # even indexed elements
print(numbers[::-1]) # reverse the list
print(numbers[6::-1])
print(numbers[:7][::-1])

1
10
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[7, 6, 5, 4, 3, 2, 1]
[7, 6, 5, 4, 3, 2, 1]

# methods in list - 11
- adding elements
  - append
  - extend
  - insert
- removing elements
  - pop 
  - remove
  - clear
- utility methods 
  - index 
  - count
  - sort 
  - reverse
  - copy

In [24]:
x.append('banana')
print(x)

['apple', 'banana', 12, 'banana']

In [25]:
x.append(12)
print(x)

['apple', 'banana', 12, 'banana', 12]

In [35]:
books = []
for i in range(5):
    books.append(input('Enter a book'))
print(books)

['shakespaer', 'wings of fire', 'Harry Potter', 'Pride', 'The Great Gatsby']

In [36]:
more_books= ['Hamlet','Lord of the Rings','the sunlight man']

In [39]:
books.extend(more_books)
books

['shakespaer',
 'wings of fire',
 'Harry Potter and the chamber of secrets',
 'Harry Potter',
 'Pride',
 'The Great Gatsby',
 'Hamlet',
 'Lord of the Rings',
 'the sunlight man',
 'Hamlet',
 'Lord of the Rings',
 'the sunlight man']

In [40]:
books[2] = "Harry Potter and the sorcerer's stone " #replace
books

['shakespaer',
 'wings of fire',
 "Harry Potter and the sorcerer's stone ",
 'Harry Potter',
 'Pride',
 'The Great Gatsby',
 'Hamlet',
 'Lord of the Rings',
 'the sunlight man',
 'Hamlet',
 'Lord of the Rings',
 'the sunlight man']

In [38]:
books.insert(2,'Harry Potter and the chamber of secrets') #insert
books

['shakespaer',
 'wings of fire',
 'Harry Potter and the chamber of secrets',
 'Harry Potter',
 'Pride',
 'The Great Gatsby',
 'Hamlet',
 'Lord of the Rings',
 'the sunlight man']

In [42]:
if 'Pride' in books:
   books.remove('Pride')

In [43]:
books.pop() #remove element of index 2

'the sunlight man'

In [44]:
books.pop(2) #remove element of index 2

"Harry Potter and the sorcerer's stone "

- utility method
  - index
  - count
  - sort
  - reverse
  - copy

In [1]:
x = [101,102,103,104,105,101,102]
print(x.index(103))
print(x.index(101))
print(x.index(101,2)) # 2 is the starting index

2
0
5

In [2]:
print(x.count(101))
print(x.count(103))
print(x.count(110))

2
1
0

In [3]:
x.reverse()
print(x)

[102, 101, 105, 104, 103, 102, 101]

In [4]:
# ascending order
x.sort()
print(x)
# descending order
x.sort(reverse=True)
print(x)

[101, 101, 102, 102, 103, 104, 105]
[105, 104, 103, 102, 102, 101, 101]

In [6]:
x = [1,2,3]
x1 = x.copy()
print(x1)
print(x)
x.append(106)
x1.remove(2)
print(x)
print(x1)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 106]
[1, 3]